.intro-text-color{
    animation: intro-text-color-animation 4s 1;
}
@keyframes intro-text-color-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

.description-text-color{
    animation: description-text-color-animation 8s 1;
}
@keyframes description-text-color-animation{
    0%{
        opacity: 0;
    }
    50%{
        opactity: 0;
    }
    100%{
        opacity: 100;
    }
}